body{
	
}
.section1{
	
}
.section1 .mui-bar{

}
.section1 .mui-bar a{
	color: #fff;
}
.section2{
	padding: 10px 0px;
}
.section2 .p1{
	color: #000;
    font-size: 1.1rem;
    font-weight: bold;
    float: left;
}
.section2 .p2{
	float: right;
}
.section3{
	margin-top: 20px;
}
.section3 ul li{
	float: left;
	width: 33%;
	text-align: center;	
}
.section3 ul li a{
	background: #fff;
	padding: 10px 16px;
	color: #000;
	font-size: 1rem;
	border-radius: 5px;
}
.section3 ul li a.select{
	border: 2px solid #AEC9F6;
}
.section4{
	margin-top: 35px;
}
.section4 .items{
	display: none;
}
.section4 .items.select{
	display: block;
}
.section4 .items .items-1{
	
}
.section4 .items .items-1 .title{
	padding: 8px 0px;
}
.section4 .items .items-1 .center{
	background: #fff;
	padding: 10px 0px;
	border-bottom: 1px solid #eee;
}
.section4 .items .items-1 .center .div1{
	float: left;
}
.section4 .items .items-1 .center .div1 img{
	width: 2.5rem;
}
.section4 .items .items-1 .center .div2{
	float: left;
	margin-left: 10px;
}
.section4 .items .items-1 .center .div2 .p1{
	color: #000;
	font-size: 1rem;
}
.section4 .items .items-1 .center .div2 .p2{
	color: #666;
	font-size: 0.9rem;
}
.section4 .items .items-1 .center .div3{
	float: right;
	margin-top: 10px;
	color: #24D688;
	font-size: 1rem;
}








.section4 .items .items-1 .center1{
	background: #fff;
	padding: 10px 0px;
	border-bottom: 1px solid #eee;
}
.section4 .items .items-1 .center1 .div1{
	float: left;
}
.section4 .items .items-1 .center1 .div1 img{
	width: 2.5rem;
}
.section4 .items .items-1 .center1 .div2{
	float: left;
	margin-left: 10px;
}
.section4 .items .items-1 .center1 .div2 .p1{
	color: #000;
	font-size: 1rem;
}
.section4 .items .items-1 .center1 .div2 .p2{
	color: #666;
	font-size: 0.9rem;
}
.section4 .items .items-1 .center1 .div3{
	float: right;
	margin-top: 10px;
	color: #EE303A;
	font-size: 1rem;
}

