.section1{
	position: absolute;
	top: 0px;
	height: 100%;
	width: 100%;
	background: url(../images/gghhjj.png) no-repeat;
	background-size: 100% 100%;
}
.section1 .section1-1{
	position: absolute;
	bottom: 35px;
	width: 100%;
	text-align: center;
}
.section1 .section1-1 a{
	display: inline-block;
	width: 50%;
	background: #57C0F0;
	padding: 12px 0px;
	border-radius: 25px;
	color: #fff;
	font-size: 1.1rem;
}
