.section1{
	
}
.section1 .mui-bar{
	
}
.section1 .mui-bar a{
	color: #fff;
}
.section2{
	padding: 10px 0px;
}
.section2 .container .p1{
	font-size: 1.2rem;
	color: #000;
	font-weight: bold;
	float: left;
}
.section2 .container .p2{
	float: right;
}
.section2 .container .p2 img{
	width: 2rem;
}

.section3 .ppp .swiper-container .swiper-wrapper .swiper-slide{
	width: 100%;
	height: 210px;
}
.section3 .ppp .swiper-container .swiper-wrapper .swiper-slide img{
	width: 100%;
}

.section4 {
	padding: 10px 0px;
}

.section4 .container .p1{
	font-size: 1.2rem;
	color: #000;
	font-weight: bold;
	float: left;
}
.section5{
	background: #fff;
}
.section5 .section5-1{
	padding: 10px 0px;
	border-bottom: 1px solid #eee;
}
.section5 .section5-1 .section5-1-1{
	float: left;
	width: 65%;
}
.section5 .section5-1 .section5-1-1 .p1{
	color: #000;
	font-size: 1.1rem;
	font-weight: bold;
	margin-bottom: 18px;
}
.section5 .section5-1 .section5-1-1 .p2{
	color: #666;
	font-size: 0.9rem;
}
.section5 .section5-1 .section5-1-2{
	float: right;
	width: 30%;
	text-align: right;
}
.section5 .section5-1 .section5-1-2 img{
	width: 5rem;
}
